body {
    margin: 0;
}

.uiwrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.box {
    background-color: #ff0000;
}

.currenstich {
    background-color: #ffff00;
}
