#table {
  /*! height: 99%; */
  /*! width: 99%; */
  background-color: #eeffee;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 10px;
  right: 0;
}
.card_stich {
  width: 50%;
  height: 50%;
  position: absolute;
}
.card_stich_0 {
    animation-fill-mode: forwards;
    animation-name: card_stich_0_slidein;
}
@keyframes card_stich_0_slidein {
    from {
        opacity: 0;
        left: 25%;
        top: 100%;
    }
    to {
        opacity: 1;
        left: 25%;
        top: 50%;
    }
}
.card_stich_1 {
    animation-fill-mode: forwards;
    animation-name: card_stich_1_slidein;
}
@keyframes card_stich_1_slidein {
    from {
        opacity: 0;
        left: -50%;
        top: 25%;
    }
    to {
        opacity: 1;
        left: 0%;
        top: 25%;
    }
}
.card_stich_2 {
    animation-fill-mode: forwards;
    animation-name: card_stich_2_slidein;
}
@keyframes card_stich_2_slidein {
    from {
        opacity: 0;
        left: 25%;
        top: -50%;
    }
    to {
        opacity: 1;
        left: 25%;
        top: 0%;
    }
}
.card_stich_3 {
    animation-fill-mode: forwards;
    animation-name: card_stich_3_slidein;
}
@keyframes card_stich_3_slidein {
    from {
        opacity: 0;
        left: 100%;
        top: 25%;
    }
    to {
        opacity: 1;
        left: 50%;
        top: 25%;
    }
}
.card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card_hand {
  width: 40px;
  background-color: #ff000017;
  display: inline-block;
  margin: 2px;
  position: unset;
  height: 100%;
  max-width: 10%;
  top: 0;
}
#hand {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  max-height: 20%;
  background-color: #0000ff45;
  height: 80px;
  z-index: 999;
}

li {
  marker: none;
  display: block;
}

#askpanel {
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    bottom: 20%;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 1000;
}

#askpanel button {
    padding: 5px;
    margin: 5px;
    display: block;
}

#stich {
  background: #00ffcf55;
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
}

#stich_old.stich_old_EPI0 {
    animation-fill-mode: forwards;
    animation-name: stich_old_stich_old_EPI0;
}
@keyframes stich_old_stich_old_EPI0 {
    from {
        background: #00ffcf;
        position: absolute;
        left: 30%;
        top: 30%;
        width: 40%;
        height: 40%;
    }
    to {
        background: #00ffcf;
        position: absolute;
        width: 20%;
        height: 20%;
        left: 40%;
        top: 70%;
    }
}
#stich_old.stich_old_EPI1 {
    animation-fill-mode: forwards;
    animation-name: stich_old_stich_old_EPI1;
}
@keyframes stich_old_stich_old_EPI1 {
    from {
        background: #00ffcf;
        position: absolute;
        left: 30%;
        top: 30%;
        width: 40%;
        height: 40%;
    }
    to {
        background: #00ffcf;
        position: absolute;
        width: 20%;
        height: 20%;
        left: 5%;
        top: 40%;
    }
}
#stich_old.stich_old_EPI2 {
    animation-fill-mode: forwards;
    animation-name: stich_old_stich_old_EPI2;
}
@keyframes stich_old_stich_old_EPI2 {
    from {
        background: #00ffcf;
        position: absolute;
        left: 30%;
        top: 30%;
        width: 40%;
        height: 40%;
    }
    to {
        background: #00ffcf;
        position: absolute;
        width: 20%;
        height: 20%;
        left: 40%;
        top: 5%;
    }
}
#stich_old.stich_old_EPI3 {
    animation-fill-mode: forwards;
    animation-name: stich_old_stich_old_EPI3;
}
@keyframes stich_old_stich_old_EPI3 {
    from {
        background: #00ffcf;
        position: absolute;
        left: 30%;
        top: 30%;
        width: 40%;
        height: 40%;
    }
    to {
        background: #00ffcf;
        position: absolute;
        width: 20%;
        height: 20%;
        left: 75%;
        top: 40%;
    }
}

.card_E7 {
  background-image: url("img/E7.jpg");
}
.card_E8 {
    background-image: url("img/E8.jpg");
}
.card_E9 {
    background-image: url("img/E9.jpg");
}
.card_EZ {
    background-image: url("img/EZ.jpg");
}
.card_EU {
    background-image: url("img/EU.jpg");
}
.card_EO {
    background-image: url("img/EO.jpg");
}
.card_EK {
    background-image: url("img/EK.jpg");
}
.card_EA {
    background-image: url("img/EA.jpg");
}
.card_G7 {
    background-image: url("img/G7.jpg");
}
.card_G8 {
    background-image: url("img/G8.jpg");
}
.card_G9 {
    background-image: url("img/G9.jpg");
}
.card_GZ {
    background-image: url("img/GZ.jpg");
}
.card_GU {
    background-image: url("img/GU.jpg");
}
.card_GO {
    background-image: url("img/GO.jpg");
}
.card_GK {
    background-image: url("img/GK.jpg");
}
.card_GA {
    background-image: url("img/GA.jpg");
}
.card_H7 {
    background-image: url("img/H7.jpg");
}
.card_H8 {
    background-image: url("img/H8.jpg");
}
.card_H9 {
    background-image: url("img/H9.jpg");
}
.card_HZ {
    background-image: url("img/HZ.jpg");
}
.card_HU {
    background-image: url("img/HU.jpg");
}
.card_HO {
    background-image: url("img/HO.jpg");
}
.card_HK {
    background-image: url("img/HK.jpg");
}
.card_HA {
    background-image: url("img/HA.jpg");
}
.card_S7 {
    background-image: url("img/S7.jpg");
}
.card_S8 {
    background-image: url("img/S8.jpg");
}
.card_S9 {
    background-image: url("img/S9.jpg");
}
.card_SZ {
    background-image: url("img/SZ.jpg");
}
.card_SU {
    background-image: url("img/SU.jpg");
}
.card_SO {
    background-image: url("img/SO.jpg");
}
.card_SK {
    background-image: url("img/SK.jpg");
}
.card_SA {
    background-image: url("img/SA.jpg");
}

